body {
  margin: 0;
  --columns: 6
}

.gallery {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}
figure{
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery__firma {
  width: calc(100vw / var(--columns));
  margin: 0%;
  transition: 0.5s;
}

.gallery__firma img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery__firma--selected {
  z-index: 1;
  transform: scale(1.2);
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.13));
}
